* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.header {
  width: 320px;
}
.header .navBar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  background-color: #2a96f3;
  overflow-y: hidden;
  padding: 0 5%;
  height: auto;
}
.header .navBar div img.icon {
  width: 50px;
  margin-top: 25px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 1s ease-out;
}
.header .navBar div img.icon:hover {
  background-color: white;
  border-radius: 50%;
}
.header .navBar .nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header .navBar .nav-menu li .nav-link {
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  background-color: transparent;
  transition: all 1s ease-in-out;
  letter-spacing: 2px;
}
.header .navBar .nav-menu li .nav-link:hover {
  color: black;
  background-color: none;
}

footer {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2a96f3;
}
footer span {
  padding: 10px 0;
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
  font-weight: 600;
  color: white;
  font-size: 22px;
  letter-spacing: 2px;
}
footer .redes-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
footer .redes-container .icon-footer {
  width: 50px;
  padding: 20px 0;
}

.menu {
  margin-top: 10px;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.menu .form {
  text-align: center;
  width: 90%;
  margin: 0 5%;
  background-color: #efefef;
  padding: 20px;
  color: #fff;
  border-radius: 20px;
}
.menu form input::-moz-placeholder {
  width: 15em;
  margin: 3px;
  height: 2em;
  color: #6c757d;
}
.menu form input::placeholder {
  width: 15em;
  margin: 3px;
  height: 2em;
  color: #6c757d;
}
.menu form .btn {
  margin: 2em 1em;
  width: 60%;
  height: 40px;
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  font-size: 22px;
  letter-spacing: 2px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

section.container-icons {
  width: 320px;
}
section.container-icons .div-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  padding: 0 20px;
}
section.container-icons .div-icons .icon {
  width: 40px;
  padding: 10px 5px;
  margin-bottom: 30px;
}

.container-data {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 280px;
  padding: 0 5px;
  align-items: center;
  justify-content: space-between;
}
.container-data .title-expens {
  font-size: 18px;
  width: 8px;
}
.container-data .balance {
  color: black;
}

.promedio, .disponible {
  font-size: 20px;
  padding-left: 5px;
}

.card-container {
  width: 310px;
  margin: 15px 5px;
  border: 2px solid black;
  box-shadow: 0 0 4px black;
}
.card-container h2 {
  width: 100%;
  font-size: 20px;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  background-color: cadetblue;
  padding: 7px 0;
}
.card-container .list-item-card {
  width: 90%;
  margin: 0 5%;
}
.card-container .list-item-card div.item-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
.card-container .list-item-card div.item-card h3 {
  font-size: 22px;
  margin-top: 0;
  font-family: "Bebas Neue", sans-serif;
}
.card-container .list-item-card div.item-card span {
  font-size: 20px;
  margin-top: -25px;
}
.card-container .button-card {
  padding: 7px 10px;
  border-radius: 5px;
  margin-left: 75%;
  border: none;
  background-color: #2a96f3;
  margin-bottom: 15px;
}

.card2-container {
  width: 320px;
  margin-top: 0;
}
.card2-container h2.title {
  font-size: 18px;
  text-align: center;
  background-color: cadetblue;
  padding: 7px;
  margin-top: 0;
}
.card2-container .list-button-card {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  align-items: center;
}
.card2-container .list-button-card .item-card-viaje {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card2-container .list-button-card .item-card-viaje h3 {
  font-size: 18px;
}

section.button-card {
  display: grid;
  width: 320px;
  grid-template-columns: 50% 50%;
  grid-template-rows: 33% 33% 33%;
  gap: 10px;
  margin: 100px 0;
  margin-bottom: 30px;
  align-content: center;
  justify-items: center;
}
section.button-card .buttonTarjeta {
  padding: 7px 12px;
  width: 50%;
  border-radius: 15px;
  align-items: center;
  justify-items: center;
  border: none;
  transition: all ease-in-out 0.6s;
  margin-bottom: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: 600;
}
section.button-card .buttonTarjeta:hover {
  background-color: darkcyan;
  box-shadow: 0 0 5px black;
  color: white;
}

.button-editar {
  margin: 55px 0;
  margin-left: 15%;
  padding: 7px;
}

.sectionForm {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 5px;
  background-color: #2A96F3;
  height: 100%;
}
.sectionForm h2 {
  padding: 15px 0;
  font-size: 32px;
}
.sectionForm #loginForm, .sectionForm #registroForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  color: white;
  border-radius: 15px;
  padding: 15px 5px;
  margin: 10px 0;
  font-size: 18px;
  font-weight: 600;
}
.sectionForm #loginForm label, .sectionForm #registroForm label {
  padding: 15px 5px;
}
.sectionForm #loginForm input, .sectionForm #registroForm input {
  padding: 15px 5px;
  margin-bottom: 15px;
  border-radius: 5px;
}
.sectionForm #loginForm input#ingresar, .sectionForm #loginForm #registro, .sectionForm #registroForm input#ingresar, .sectionForm #registroForm #registro {
  border: none;
  border-radius: 5px;
  margin: 5px 0;
  font-weight: 600;
  letter-spacing: 2px;
}
.sectionForm p {
  font-size: 18px;
  color: black;
  font-weight: 500;
}
.sectionForm p a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}/*# sourceMappingURL=style.css.map */