* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h2 {
  margin: 0;
}

.header {
  width: 100%;
}
.header .navBar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  background-color: #2a96f3;
  overflow-y: hidden;
  padding: 0 5%;
  height: auto;
}
.header .navBar div img.icon {
  width: 50px;
  margin-top: 25px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 1s ease-out;
}
.header .navBar div img.icon:hover {
  background-color: white;
  border-radius: 50%;
}
.header .navBar .nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header .navBar .nav-menu li .nav-link {
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  background-color: transparent;
  transition: all 1s ease-in-out;
  letter-spacing: 2px;
}
.header .navBar .nav-menu li .nav-link:hover {
  color: black;
  background-color: none;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2a96f3;
}
footer span {
  padding: 10px 0;
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
  font-weight: 600;
  color: white;
  font-size: 22px;
  letter-spacing: 2px;
}
footer .redes-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
footer .redes-container .icon-footer {
  width: 50px;
  padding: 20px 0;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/assets/img/paris2.png);
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 800px;
}
.menu .form {
  text-align: center;
  width: 90%;
  margin: 0 5%;
  background-color: transparent;
  padding: 20px;
  color: #fff;
  border-radius: 20px;
}
.menu .form input {
  color: white;
}
.menu form input::-moz-placeholder {
  width: 15em;
  margin: 3px;
  height: 2em;
  color: white;
  font-weight: 600;
  border-bottom: 2px solid white;
}
.menu form input::placeholder {
  width: 15em;
  margin: 3px;
  height: 2em;
  color: white;
  font-weight: 600;
  border-bottom: 2px solid white;
}
.menu form .btn {
  margin: 2em 1em;
  width: 60%;
  height: 40px;
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  font-size: 22px;
  letter-spacing: 2px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

section.container-icons {
  width: 100%;
}
section.container-icons .div-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  padding: 0 20px;
}
section.container-icons .div-icons .icon {
  width: 40px;
  padding: 10px 5px;
  margin-bottom: 30px;
}
section.container-icons .div-icons .coin {
  width: 50px;
}

.container-data {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  padding: 0 5px;
  align-items: center;
  justify-content: space-between;
  color: white;
  text-transform: uppercase;
}
.container-data .title-expens {
  font-size: 18px;
  width: 8px;
  color: white;
}
.container-data .balance {
  color: white;
}

.promedio, .disponible {
  font-size: 20px;
  padding-left: 5px;
  color: white;;
}

.card-container {
  width: 90%;
  margin: 15px 5%;
  border: 2px solid black;
  box-shadow: 0 0 4px black;
}
.card-container h2 {
  width: 100%;
  font-size: 20px;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  background-color: cadetblue;
  padding: 7px 0;
}
.card-container .list-item-card {
  width: 90%;
  margin: 0 5%;
}
.card-container .list-item-card div.item-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
.card-container .list-item-card div.item-card h3 {
  font-size: 22px;
  margin-top: 0;
  font-family: "Bebas Neue", sans-serif;
}
.card-container .list-item-card div.item-card span {
  font-size: 20px;
  margin-top: -25px;
}
.card-container .button-card {
  padding: 7px 10px;
  border-radius: 5px;
  margin-left: 75%;
  border: none;
  background-color: #2a96f3;
  margin-bottom: 15px;
}

.card2-container {
  width: 100%;
  margin-top: 0;
}
.card2-container h2.title {
  font-size: 18px;
  text-align: center;
  background-color: cadetblue;
  padding: 7px;
  margin-top: 0;
}
.card2-container .list-button-card {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  align-items: center;
}
.card2-container .list-button-card .item-card-viaje {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card2-container .list-button-card .item-card-viaje h3 {
  font-size: 18px;
}

section.button-card {
  display: grid;
  width: 100%;
  grid-template-columns: 50% 50%;
  grid-template-rows: 33% 33% 33%;
  gap: 10px;
  margin: 100px 0;
  margin-bottom: 30px;
  align-content: center;
  justify-items: center;
}
section.button-card .buttonTarjeta {
  padding: 7px 12px;
  width: 50%;
  border-radius: 15px;
  align-items: center;
  justify-items: center;
  border: none;
  transition: all ease-in-out 0.6s;
  margin-bottom: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: 600;
}
section.button-card .buttonTarjeta:hover {
  background-color: darkcyan;
  box-shadow: 0 0 5px black;
  color: white;
}

.button-editar {
  margin: 55px 0;
  margin-left: 15%;
  padding: 7px;
}

.sectionForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 5px;
  background-color: #2a96f3;
  height: 800px;
}
.sectionForm h2 {
  margin-top: -270px;
  padding: 15px 0;
  font-size: 32px;
  color: white;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 2px;
}
.sectionForm #loginForm,
.sectionForm #registroForm {
  font-family: "Bebas Neue", sans-serif;
  width: 100%;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  color: white;
  border-radius: 15px;
  padding: 10px 5px;
  margin: 10px 0;
  font-size: 24px;
  font-weight: 600;
}
.sectionForm #loginForm label,
.sectionForm #registroForm label {
  padding: 15px 5px;
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-size: 26px;
}
.sectionForm #loginForm input,
.sectionForm #registroForm input {
  padding: 15px 5px;
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
}
.sectionForm #loginForm input::-moz-placeholder, .sectionForm #registroForm input::-moz-placeholder {
  color: white;
  font-weight: 400;
  font-size: 18px;
}
.sectionForm #loginForm input::placeholder,
.sectionForm #registroForm input::placeholder {
  color: white;
  font-weight: 400;
  font-size: 18px;
}
.sectionForm #loginForm input#ingresar,
.sectionForm #loginForm #registro,
.sectionForm #registroForm input#ingresar,
.sectionForm #registroForm #registro {
  border: 1px solid white;
  border-radius: 5px;
  margin: 5px 25%;
  font-weight: 600;
  letter-spacing: 2px;
  color: white;
  font-size: 20px;
  width: 50%;
  transition: all ease-in-out 0.5s;
}
.sectionForm #loginForm input#ingresar:hover,
.sectionForm #loginForm #registro:hover,
.sectionForm #registroForm input#ingresar:hover,
.sectionForm #registroForm #registro:hover {
  background-color: rgba(26, 173, 139, 0.4);
  color: white;
}
.sectionForm p {
  font-size: 22px;
  font-family: "Bebas Neue", sans-serif;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
}
.sectionForm p a {
  text-decoration: none;
  letter-spacing: 2px;
  color: cyan;
  font-weight: 600;
  font-family: "Bebas Neue", sans-serif;
}

.login {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url(/assets/img/fondo3.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.registro {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url(/assets/img/fondo2.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

section.home {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url(/assets/img/fondo.avif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 800px;
}
section.home h2.title-home {
  font-size: 32px;
  padding: 15px;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 2px;
  padding-top: 15%;
  text-align: start;
  position: relative;
  color: white;
  text-shadow: 0 0 3px black;
}
section.home .home-parrafo {
  width: 80%;
  font-family: "Bebas Neue", sans-serif;
  padding: 15px;
  font-size: 30px;
  letter-spacing: 1px;
  padding-top: 30%;
  position: relative;
  color: white;
  text-shadow: 0 0 3px black;
  text-transform: uppercase;
  transition: all ease-in-out 0.5s;
}
section.home button {
  background: rgba(26, 173, 139, 0.4);
  color: #fff;
  border: none;
  position: relative;
  height: 60px;
  margin-top: 20px;
  font-weight: 600;
  border-radius: 10px;
  margin-left: 60%;
  font-size: 1.6em;
  padding: 0 1.7em;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
}
section.home button:hover {
  background: #fff;
  color: #1aab8a;
}
section.home button button:before,
section.home button button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #1aab8a;
  transition: 400ms ease all;
}
section.home button button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
section.home button button:hover:before,
section.home button button:hover:after {
  width: 100%;
  transition: 800ms ease all;
}/*# sourceMappingURL=style.css.map */