.card2-container{
    width: 100%;
    margin-top: 0;
    h2.title{
        font-size: 18px;
        text-align: center;
        background-color: cadetblue;
        padding: 7px;
        margin-top: 0;
    }
    .list-button-card{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        align-items: center;
        .item-card-viaje{
            display: flex;
            flex-direction: column;
            align-items: center;
        
        h3{
            font-size: 18px;
        }
    }
}
}
section.button-card{
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;
    gap:10px;
    margin: 100px 0;
    margin-bottom: 30px;
    align-content: center;
    justify-items: center;
    .buttonTarjeta{
        padding: 7px 12px;
        width: 50%;
        border-radius: 15px;
        align-items: center;
        justify-items: center;
        border: none;
        transition: all ease-in-out 0.6s;
        margin-bottom: 50px;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        font-weight: 600;
        &:hover{
            background-color: darkcyan;
            box-shadow: 0 0 5px black;
            color: white;
        }
    }
}
.button-editar{
    margin: 55px 0;
    margin-left: 15%;
    padding: 7px;
}
.containerGastosEditar{
    
}